soap/src/wsdl/localhost_8080/CarManufacture/webservices/CarManufacture/CarManufactureSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://my.org/ns/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CarManufactureSOAPService" targetNamespace="http://my.org/ns/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://my.org/ns/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://my.org/ns/">
  <xs:element name="findeAlle" type="tns:findeAlle"/>
  <xs:element name="findeAlleResponse" type="tns:findeAlleResponse"/>
  <xs:element name="user" type="tns:user"/>
  <xs:element name="validateUser" type="tns:validateUser"/>
  <xs:element name="validateUserResponse" type="tns:validateUserResponse"/>
  <xs:complexType name="findeAlle">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findeAlleResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="mitarbeiternummer" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidCredentialsException" type="tns:InvalidCredentialsException"/>
  <xs:complexType name="InvalidCredentialsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessRestrictedException" type="tns:AccessRestrictedException"/>
  <xs:complexType name="AccessRestrictedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidCredentialsException">
    <wsdl:part element="tns:InvalidCredentialsException" name="InvalidCredentialsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccessRestrictedException">
    <wsdl:part element="tns:AccessRestrictedException" name="AccessRestrictedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findeAlle">
    <wsdl:part element="tns:findeAlle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findeAlleResponse">
    <wsdl:part element="tns:findeAlleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateUser">
    <wsdl:part element="tns:validateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateUserResponse">
    <wsdl:part element="tns:validateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarManufactureSOAP">
    <wsdl:operation name="findeAlle">
      <wsdl:input message="tns:findeAlle" name="findeAlle">
    </wsdl:input>
      <wsdl:output message="tns:findeAlleResponse" name="findeAlleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input message="tns:validateUser" name="validateUser">
    </wsdl:input>
      <wsdl:output message="tns:validateUserResponse" name="validateUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException">
    </wsdl:fault>
      <wsdl:fault message="tns:AccessRestrictedException" name="AccessRestrictedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarManufactureSOAPServiceSoapBinding" type="tns:CarManufactureSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findeAlle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findeAlle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findeAlleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidCredentialsException">
        <soap:fault name="InvalidCredentialsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AccessRestrictedException">
        <soap:fault name="AccessRestrictedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarManufactureSOAPService">
    <wsdl:port binding="tns:CarManufactureSOAPServiceSoapBinding" name="CarManufactureSOAPPort">
      <soap:address location="http://localhost:8080/CarManufacture/webservices/CarManufacture/CarManufactureSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>